.note {
  text-align: center;
  border-bottom: 1px solid var(--header-color);
  background: var(--fgtext-color);
  color: var(--header-color);
  max-width: fit-content;
  margin: auto;
  border-radius: 6px;
  padding: 3em 3em 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
}

.alert {
  max-width: fit-content;
  padding: 1em;
  margin: 1em;
  border: 1px solid transparent;
  border-radius: 0.25em;
  text-align: center;
}


.alert-notify {
  max-width: fit-content;
  color: var(--notify-color);
  background-color: var(--foregr-color);
  border-color: var(--notify-color);
}


.alert-warnin {
  max-width: fit-content;
  color: var(--warnin-color);
  background-color: var(--foregr-color);
  border-color: var(--warnin-color);
}


.alert-danger {
  max-width: fit-content;
  color: var(--danger-color);
  background-color: var(--backgr-color);
  border-color: var(--danger-color);
}


.alert p {
  margin-bottom: 0;
}


.alert:empty {
  display: none;
}


.invalid-feedback {
  color: var(--warnin-color);
  display: block;
  margin: -1rem 0 2rem;
}