#context-menu {
    position: fixed;
    z-index: 10000;
    padding: 2rem;
    border-radius: 0.125rem;
    background: var(--foregr-color);
    display: none;
}

#context-menu.visible {
    display: block;
}

#context-menu > * {
    padding: 0.25rem;
}