@import "./menu/header.css";


#menu {
    display: block;
    position: absolute;
    width: 25vw;
    min-width: 400px;
    padding: 2rem;
    z-index: 1;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--backgr-color);
    border-radius: 0.5rem;
  }
  
  
#menu.invisible {
    display: none;
}

  
header {
    margin-bottom: 2rem;
}

