#logo {
  margin: auto;
  display: block;
}
  
  
#logo > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 2.5rem;
  width: auto;
}
  
  
nav {
  margin: auto;
  margin-top: 1rem;
}


nav > div {
  margin: auto;
  margin-bottom: 1rem;
}