<div>
    <%= link "Home", to: Routes.page_path(@conn, :index) %>
    <%= if @current_user do %>
        <%= link "Account", to: Routes.user_settings_path(@conn, :edit) %>
        <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %>
    <% else %>
        <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
        <%= link "Register", to: Routes.user_registration_path(@conn, :new) %>
    <% end %>
</div>
