<section>
  <!--<p>Locale: <%= @locale %></p>-->
  <%= @inner_content %>
  <p
    class="alert alert-info"
    role="alert">
    <%= get_flash(@conn, :info) %>
  </p>
  <p
    class="alert alert-danger"
    role="alert">
    <%= get_flash(@conn, :error) %>
  </p>
</section>
