<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta charset="utf-8"/>

    <meta 
      http-equiv="X-UA-Compatible" 
      content="IE=edge"/>

    <meta 
      name="viewport" 
      content="
        width=device-width,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=1.0,
        shrink-to-fit=no,
        user-scalable=no"/>
    
    <link
      phx-track-static rel="stylesheet"
      href={Routes.static_path(
        @conn, "/static/assets/www.css"
      )}/>
    
    <link rel="stylesheet" 
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""></script>

    <script
      defer
      phx-track-static
      type="text/javascript"
      src={
        Routes.static_path(
          @conn, "/static/assets/www.js"
        )
      }>
    </script>

    <%= live_title_tag assigns[:page_title] || "Menu", suffix: " OpenWR" %>
  </head>
  <body>
    <div id="menu">
      <header>
        <section>
          <%= if @current_user do %>
            <%= @current_user.email %>
          <% end %>
          <a href="/"id="logo">
            <img alt="instance logo" src={
              Routes.static_path(
                @conn, "/static/logo.png"
              )
            }/>
          </a>
        </section>
        <nav>
          <%= render "_user_menu.html", assigns %>
        </nav>
      </header>
      <main>
        <%= @inner_content %>
      </main>
      <footer>
          <div>
            <a href="https://gitlab.com/ekroll/openwr" target="_blank">GitLab</a>
            <a href="/static/docs/web/index.html" target="_blank">Web Docs</a>
            <a href="/static/docs/wwr/" target="_blank">Client Docs</a>
          </div>
      </footer>
    </div>
    <div id="map"></div>
    <div id="context-menu">
      <a href="/"> Menu </a>
      <a href="/map"> Map </a>
      <a href="/users/settings"> Settings </a>
    </div>
  </body>
</html>
