<div class="center_notice">
  <h1>Register</h1>

  <.form let={f} for={@changeset} 
    action={
      Routes.user_registration_path(
        @conn, :create
      )
    }>

    <div>
      <div>
          <!-- <%= label f, :email %> -->
          <%= email_input f, :email, required: true %>
          <%= error_tag f, :email %>
      </div>

      <div>
          <!-- <%= label f, :password %> -->
          <%= password_input f, :password, required: true %>
          <%= error_tag f, :password %>
      </div>
    </div>

    <div>
      <%= submit "Register" %>
    </div>
    
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>
  </.form>
</div>
