h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}


a, button {
    padding: 0.25rem;
    border-style: solid;
    border-width: 0.125rem;
    border-radius: 0.25rem;
    text-decoration: none;
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--foregr-color);
}


a:hover, button:hover {
    background-color: var(--backgr-color);
    border-color: var(--button-color);
    color: var(--button-color);
}


p, label {
    color: var(--header-color);
}


input {
    padding: 0.25rem;
    float: right;
}


input[type=checkbox] {
    border-radius: 10rem;
    width: 1.25rem;
    height: 1.25rem;
}


ul {
    margin: auto;
    display: flex;
    text-decoration: none;
}
