* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scale: inherit;
    z-index: inherit;
}
  
  
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'DejaVu Sans Mono';
  font-size: 32;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.5;
}
  
  
body {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height:100%;
  background: var(--button-color);
  color: var(--fgtext-color);
  touch-action: none;
  overflow: hidden;
  user-select: none;
  cursor: default;
}


.zoomTo {
  display: none;
}
