@import "./reset.css";
@import "./override.css";
@import "./phoenix.css";
@import "./phoenix/liveview.css";


@import "./www/map.css";
@import "./www/menu.css";
@import "./www/alerts.css";
@import "./www/context_menu.css";


:root {
  --backgr-color: #000;
  --foregr-color: #777;
  --header-color: #ddd;
  --button-color: #fff;
  --bhover-color: aqua;
  --inform-color: aquamarine;
  --warnin-color: rgb(255, 255, 129);
  --danger-color: rgb(255, 115, 72);
}