<h1>Log in</h1>

<.form let={f} for={@conn} 
  action={
    Routes.user_session_path(
      @conn, :create
    )
  } as={:user}>

  <%= label f, :remember_me, "Remember 60 days" %>
  <%= checkbox f, :remember_me %>

  <div>
    <%= label f, :email %>
    <%= email_input f, :email, required: true %>
  </div>

  <div>
    <%= label f, :password %>
    <%= password_input f, :password, required: true %>
  </div>

  <div>
    <%= link "Forgot passwd?", to: Routes.user_reset_password_path(@conn, :new) %>
    <%= submit "Log in" %>
  </div>

  <%= if @error_message do %>
    <div class="alert alert-danger">
      <p><%= @error_message %></p>
    </div>
  <% end %>
</.form>
