<%# <section class="row"> %>
<section>
    <article class="column">
        <h2>Dev Resources</h2>
        <ul>
            <li>
                <a href="https://gitlab.com/ekroll/openwr">openwr repo</a>
            </li>
            <li>
                <a href="/static/docs/server/readme.html">wws docs</a>
            </li>
            <li>
                <a href="/static/docs/wwr.html">wwr docs</a>
            </li>
            <li>
                <a href="https://hexdocs.pm/phoenix/overview.html">phoenix docs</a>
            </li>
            <li>
                <a href="https://nimgl.dev/docs/">nimgl docs</a>
            </li>
            <li>
                <a href="https://elixir-lang.org/docs.html">elixir docs</a>
            </li>
            <li>
                <a href="https://nim-lang.org/documentation.html">nim docs</a>
            </li>
        </ul>
    </article>
</section>
